body {
    background-color: #ff8e71;
   text-align: center;
   margin:0;
   font-size: 75%;
}
hr{
    border-color:#9f5f80 ;
    border-style: none;
    border-top-style: dotted;
    opacity: 100%;
    border-width: 5px;
    width: 30%;
    margin: 50px auto;

   }

h1{
    font-size:4rem;
    color:#583d72;
    margin-top:50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
}
h2{
    font-size: 3rem;
    color:#583d72;
    margin:0;
    font-family: 'Sacramento', cursive;
    padding-bottom: 10px;
    
}
h3{
    color:#583d72;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;    
}
h4{
    color:#9f5f80;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    
}
p{
    color:#583d72;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 2;
}
.Top-container{
    background-color:#ffba93;
    position:relative;
    padding-top:13%;
    font-family: 'Open Sans', sans-serif;
    line-height: 0px;
}
.intro{
    width:35%;
    margin: auto;
    line-height: 2;
}
.mountain{
    
    margin-bottom: 1px;
}
.top-cloud{
position: absolute;
top:50px;
right: 25%;
}
.bottom-cloud{
    position: absolute;
    top:300px;
    left: 20%;
    
}
.middle-container{
background-color: #ff8e71;
margin: 100px auto;


}
.bottom-container{
    background-color:#ffba93;
    padding:50px 0 20px;

}
.profile{
    font-family: 'Sacramento', cursive;
    color:#16c79a;
}
.skills{
 color:#ff8e71 ;
 margin-top: 0;
}
.skill-row{
    color:#ff8e71;
    width: 50%;
    margin: 100px auto  100px auto ;
    text-align: left;
    padding-block: 30px;
}
.Contact-me{
    color:#ff8e71;

}

.book{
    width: 15%;
    float: left;
    margin-right: 30px;
}
.blog{
    width: 15%;
    float: left;
    margin-right: 30px;
    
    
}
.film{
    width: 15%;
    float: left;
    margin-right: 30px;
}


.btn {
    background: #FF8E71;
    background-image: -webkit-linear-gradient(top, #FF8E71, #FFC29F);
    background-image: -moz-linear-gradient(top, #FF8E71, #FFC29F);
    background-image: -ms-linear-gradient(top, #FF8E71, #FFC29F);
    background-image: -o-linear-gradient(top, #FF8E71, #FFC29F);
    background-image: -webkit-gradient(to bottom, #FF8E71, #FFC29F);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family:'Open Sans', sans-serif;
    width: 200px;
    font-size: 28px;
    font-weight: 500;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 0 #000000;
    -moz-box-shadow: inset 0 0 0 0 #000000;
    box-shadow: inset 0 0 0 0 #000000;
    text-shadow: 1px 1px 10px #583D72;
    border: solid #583D72 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #9F5F80 1px;
    background: #9F5F80;
    background-image: -webkit-linear-gradient(top, #9F5F80, #583D72);
    background-image: -moz-linear-gradient(top, #9F5F80, #583D72);
    background-image: -ms-linear-gradient(top, #9F5F80, #583D72);
    background-image: -o-linear-gradient(top, #9F5F80, #583D72);
    background-image: -webkit-gradient(to bottom, #9F5F80, #583D72);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
.contact{
    width: 40%;
    margin: 40px auto 60px;
}
a{
    color:#583D72;
    font-size: larger;
    font-family: 'Open Sans', sans-serif ;
    margin: 10px 20px;
    text-decoration: none;
}
b{
    color:#583D72;
    font-family: 'Open Sans', sans-serif ;
}
.copyright{
    font-size: 0.75rem;
}
